* {
    min-width: 0;

}

body
{
    background-color: black;
}

.container {
    .elements {


        button {
            width: 100px;
            height: 100px;
            border: none;
            color: transparent;
            background-color: transparent;
            background-size:cover;
            background-position: 50% 0;
            cursor: pointer;
        }

        #youtube
        {
            background-image: url("/image/youtube-logo-png-3571-Windows.png");
        }

        #twitter {
            background-image: url("/image/Twitter.png");
        }

    }
}